@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
}
:root{
  --primary-color:#0F2C67;
  --secondary-color:#cd1818;
  --warning-color:#f3950d;
  --info-color:#f4e185;
  --black-color:rgb(70, 70, 70);
  --white-color:rgb(255, 255, 255);
  --font-base:'Montserrat', sans-serif;
}
div#root{
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}